*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.quiz-container {
  min-width: 340px;
  width: 50%;
  border: 1px solid black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .7);
}

h2 {
  text-align: center;
}

label {
  font-size: 18px;
}

li {
  list-style: none;
  padding: 4px 0;
}

button {
  width: 100%;
  background-color: lightskyblue;
  padding: 32px 0;
  font-size: 24px;
  color: antiquewhite;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: lightseagreen;
}

